.selects {
  display: flex;
  gap: 20px;
}

.select {
  display: flex;
  width: 240px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--grey, rgba(0, 0, 0, 0.5));
  color: rgba(0, 0, 0, 0.6);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 118.75% */
}
