* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF;

}

a{
  all: unset;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  
  flex-grow: 1;
}